
.navbar .navbar-left span{
    font-size: 25px;
    font-weight: 600;
}
.navbar .navbar-left img{
    height: 40px;
    margin-right: 10px;
}


.navbar {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .navbar-right .AsaSubmit {
    margin-top: 0px;
}

.navbar .navbar-centered a:hover li {
    transition: 1s ease ;
    border-bottom: 1px solid white;
}
.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}

.navbar button:hover {
    background-color: rgba(255, 255, 255, 0.479);
}
.navbar button {
    backdrop-filter:blur(1px) ;
    font-weight: 500;
}
.navbar .navbar-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .navbar-centered ul li {
    margin-left: 30px;
}
.navbar .navbar-centered ul {
    display: flex;
    text-decoration: none;
    justify-content: center;
    list-style: none;
}
