.dashboard-container {
    padding: 2rem;
    background-color: #f8f9fa;
    color: #2b2929;
    padding-top: 15px;  
  }
  .dashboard2 h3{
    display: flex;
    font-size:40px;
    font-family:sans-serif;
    flex-direction: column;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 30px;
    background-color: #e2e2e2;
    height: 120%;
    padding-left: 18px;
   
  }
  .blood-types {
    display: flex;
    justify-content:space-evenly;
    margin: 2rem 0;
    gap: 0.5em; 
  }
  
  .blood-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 60px;  
    text-align: center;
     
    
  }
  .icon {
    font-size: 50px;  
    color: #2c3e50;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: -30px;
    margin-bottom:-0.2rem;
    gap: -1000rems;
  }
  .statistics-section {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    padding: 24px 200px 33px 100px;
    border-radius: 30px;
    color: white;
    width: 30%;  
    font-family:sans-serif;
    height: 215px;
  }
  .statistics-section h2{
    font-family:sans-serif;
    font-size: 12px;
  }
  
  .statistics-box {
    padding: 7px 12px;
    border-bottom: 1px solid #444;
  }
  
  .statistics-box:last-child {
    border-bottom: none; 
  }
  
  .stat-label {
    font-size: 16px;
    color: #bbbbbb; 
    margin-bottom: 0.5px;
    margin-top: 0.5px;
  }
  
  .stat-value {
    font-size: 16px;
    
    margin: 0;
  }
  
  .chart-section {
    background-color: #333;
    padding: 30px 30px 30px 50px ;
    border-radius: 30px;
    width: 30%;
    height: 250px;
   
    }
    .statistics-and-chart {
      display: flex; 
      justify-content: space-between;  
      align-items: flex-start;  
      gap: 2em;  
     
    }
   
    